@media screen and (max-width: 1250px) {
  .heading-container {
    flex-direction: column;
    align-items: center;
    margin-left: 5px; }
    .heading-container .heading {
      margin: 0; }
  a.nav-btn {
    margin: 0 8px; }
  .nav-items {
    width: 50%; } }

@media screen and (max-width: 1000px) {
  .wrapper {
    margin: 0; }
  .project-grid {
    grid-template-columns: 1fr 10fr 1fr; }
  .button-container {
    margin-right: 5px; }
  .back-to-top {
    display: none; }
  .nav-btn {
    font-size: 15px; } }

@media screen and (max-width: 600px) {
  .project-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 3% 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
    .project-grid div {
      display: flex;
      align-self: center; }
  .wrapper {
    margin: 0px; }
  .back-to-top {
    right: 3px; }
  .card-text-container {
    margin-bottom: 5px; }
  .header-container {
    text-align: center;
    height: unset;
    flex-direction: column; }
    .header-container .sub-heading {
      display: none; }
    .header-container .heading-container {
      flex-direction: column; }
    .header-container .nav-items {
      width: 100%;
      padding: 10px 0; }
  .expand-menu {
    display: block !important; }
  .show-element-mobile {
    display: block; }
  .hide-element-mobile {
    display: none; }
  .project-card-container {
    display: flex;
    align-self: center;
    flex-direction: column; }
    .project-card-container .card-text-container {
      width: 100%; }
  .project-card {
    display: flex;
    align-items: center;
    width: 95%;
    padding-bottom: 0;
    align-self: center; }
    .project-card img {
      width: 200px;
      height: 275px; }
  .tech-icon-container img {
    padding: 0 10px; } }

@media (max-width: 350px) {
  .project-grid {
    padding: 0;
    width: 95%; }
  .links-container {
    margin-top: 10px; }
  .column-container h2 {
    text-align: center; }
  .social-icon {
    height: 80px;
    width: 80px; } }
