.nav-items {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px 10px 10px; }
  .header h1 {
    padding-left: 20px; }

.btn-expand {
  background: transparent;
  border: none; }

.nav-btn {
  font-size: 18px;
  font-family: "EB Garamond", serif;
  background-color: #bfbfbf;
  border-radius: 5px;
  cursor: pointer; }

a.nav-btn {
  border: 1.99653px outset #767676;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  padding: 1px 6px;
  margin: 0 20px;
  color: #090909;
  text-decoration: none; }

.nav-btn:hover {
  background-color: #adadad; }

.button-container {
  margin-top: 20px; }

.expand-menu {
  position: absolute;
  bottom: 0; }
