@import 'variables.scss';

.nav-bar {
  margin-left: 12%;
}

.header-container {
  background-color: $portfolio-blue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;

  .heading-container {
    display: flex;
	align-items: baseline;
    width: 50%;
  }

  .nav-items {
	  display: flex;
	  width: 40%; 
	  align-items: space-around;
  }
}
