@import 'variables.scss';

::selection {
	background-color: $portfolio-grey;
	color: $white;
}

a {
	cursor: pointer;
}
body {
	background-color: $portfolio-grey;
}
.wrapper {
	margin: 0px 150px 0px 150px;
	border-radius: 10px;	
	background-color: $white;
	padding: 7px;
	

		li {
			border: 1px solid $black;
			text-align: center;
			
		}
}
.inner-wrapper {
	background-color: $off-white;
	margin: 10px;
}

.project-grid {
	display: grid; 
	grid-template-rows: auto; 
	grid-template-columns: 1fr 6fr 1fr;
	padding: 3%	 10px;
	grid-column-gap: 10px ;
	grid-row-gap: 60px;
	
}

.project-1 {
	grid-area: 1/ 2/ 2/ 3;

}
.project-2 {
	grid-area: 2/ 2/ 3/ 3;
}
.project-3 {
	grid-area: 3/ 2/ 4/ 3;
}
.project-4 {
	grid-area: 4/ 2/ 5/ 3;
}
.project-5 {
	grid-area: 5/ 2/ 6/ 3;
}
.project-6 {
	grid-area: 6/ 2/ 7/ 3;
}
.project-7 {
	grid-area: 7/ 2/ 8/ 3;
}
.project-8 {
	grid-area: 8/ 2/ 9/ 3;
}
.project-9 {
	grid-area: 9/ 2/ 10/ 3;
}

.project-card {
	height: 400px;
	width: 98%;
}

.links-container {
	height: 200px;
	background-color: $portfolio-blue;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.column-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-card-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	background-color: $portfolio-blue;
	border-radius: 5px;
}
.text-container {
	padding: 50px 40px;
	h3 {
		margin-bottom: 20px;
	}
}

.contact-container {
	background-color: $portfolio-blue;
	padding: 50px 20px;
}

footer {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-text-container {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.card-heading {
		margin-bottom: 20px;
		text-align: center;
	}
}

