@import 'variables.scss';

.nav-items {
	width: 40%;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0px 10px 10px;

	h1 {
		padding-left: 20px
	}
}

.btn-expand {
	background: transparent;
	border: none;
}

.nav-btn {
	font-size: 18px;
	font-family: 'EB Garamond', serif;
	background-color: $btn-grey;
	border-radius: 5px;	
	cursor: pointer;
}

.nav-btn:hover {
	background-color: $btn-grey-darker;
}

.button-container {
	margin-top: 20px;
}

.expand-menu {
	position: absolute;
	bottom: 0;
}
